params{
    date = false
    publish_dir = "publish"

    // new files each week
    uk_fasta = file("test/matched.fa")
    uk_metadata = file("test/matched.tsv")
    uk_accessions = file("test/accessions.tsv")

    // if carrying forward from previous
    uk_previous_metadata = ""

    // resources files
    uk_updated_dates = "file("resources/date_corrections.csv)"
    uk_omissions = "file("resources/resequencing_omissions.txt)"
    reference_fasta = file("resources/MN908947.fa")
    reference_genbank = file("resources/MN908947.gb")
    aas = file("resources/AAs.csv")
    dels = file("resources/dels.csv")
    uk_mask_file = file("resources/mask.txt")
    uk_geography = file("resources/geography/")

    // parameter values set
    time_window = false
    update_all_lineage_assignments = false
    min_covg = 50
    trim_start = 265
    trim_end = 29674
}