// Base parameters used throughout
params {
  whoami = "Datapipe"
  date = false
  publish_dir = "publish"
  publish_dev = "publish_dev"
  category = "cog"
  webhook = false
  s3 = false
  distance_qc = false
  geography = false

  // new cog-uk files each week
  uk_fasta = "test/matched.fa"
  uk_metadata = "test/matched.tsv"
  uk_accessions = "test/accessions.tsv"
  uk_unaligned_fasta = "test/matched2.fa" // null param so exists
  uk_aligned_fasta = "test/matched3.fa" // null param so exists
  uk_mutations = "test/matched2.variants" // null param so exists
  uk_constellations = "resources/empty_constellations.csv" // null so exists

  // if carrying forward from previous
  previous_metadata = ""

  // latest gisaid results output by gisaid pipeline
  gisaid_json = "test/gisaid.json"
  gisaid_fasta = "test/gisaid.matched.fa" // null so exists
  gisaid_metadata = "test/gisaid.matched.csv" // null so exists
  gisaid_mutations = "resources/empty_mutations.csv" // null so exists
  gisaid_constellations = "resources/empty_constellations.csv" // null so exists
  gisaid_updown = "resources/empty_updown.csv" // null so exists


  // resources files
  uk_updated_dates = "resources/date_corrections.csv"
  uk_omissions = "resources/resequencing_omissions.txt"
  gisaid_omissions = "resources/gisaid_omissions.txt"
  reference_fasta = "resources/MN908947.fa"
  reference_genbank = "resources/MN908947.gb"
  WH04_fasta = "resources/WH04.fa"
  aas = "resources/AAs.csv"
  dels = "resources/dels.csv"
  constellations = "resources/constellations"
  mask_file = "resources/mask.txt"
  uk_geography = "bin/geography_cleaning/geography_utils/"
  publish_cog_global_recipes = "resources/publish_cog_global_recipes.json"
  publish_gisaid_recipes = "resources/publish_gisaid_recipes.json"


  // parameter values set
  time_window = false
  update_all_lineage_assignments = false
  auto_update_pangolin = false
  min_covg = 93
  trim_start = 265
  trim_end = 29674
  chunk_size = 10000

}
