// Base parameters used throughout
params {

  date = false
  publish_dir = "publish"
  publish_dev = "publish_dev"
  webhook = false

  // new cog-uk files each week
  uk_fasta = "test/matched.fa"
  uk_metadata = "test/matched.tsv"
  uk_accessions = "test/accessions.tsv"
  uk_unaligned_fasta = "test/matched2.fa" // null param so exists
  uk_aligned_fasta = "test/matched3.fa" // null param so exists
  uk_variants = "test/matched2.variants" // null param so exists

  // if carrying forward from previous
  uk_previous_metadata = ""

  // latest gisaid results output by gisaid pipeline
  gisaid_fasta = "test/gisaid.matched.fa"
  gisaid_metadata = "test/gisaid.matched.csv"
  gisaid_variants = "test/gisaid.matched.variants"

  // resources files
  uk_updated_dates = "resources/date_corrections.csv"
  uk_omissions = "resources/resequencing_omissions.txt"
  reference_fasta = "resources/MN908947.fa"
  reference_genbank = "resources/MN908947.gb"
  aas = "resources/AAs.csv"
  dels = "resources/dels.csv"
  mask_file = "resources/mask.txt"
  uk_geography = "resources/geography/"
  publish_recipes = "resources/publish_recipes.json"

  // parameter values set
  time_window = false
  update_all_lineage_assignments = false
  min_covg = 93
  trim_start = 265
  trim_end = 29674

}
